<!DOCTYPE HTML>
<html>

<head>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>
	<canvas id="c" width="1000" height="1000"></canvas>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script>
		var ctx = document.getElementById("c").getContext("2d");
		var data = $.getJSON("https://localhost:8443/analysis/lookup?", {
			start : 2016,
			end : 2016
		}, function(data) {
			alert("Data Loaded: " + data);
		});
		var MyNewChart = new Chart(ctx).Line(data);
	</script>
</body>

</html>