<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>編輯受試者之通訊資料</title>
</head>
<body>
	<div layout:fragment="content" id="wrap">
		<div id="wrap">
			<h1 class="text-center">編輯受試者之通訊資料</h1>
			<div id="main" class="container">
				<form th:each="association: ${associationUserInfo}"
					id="association-infoForm"
					class="row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12"
					method="post"
					th:action="@{${'/association/' + association.spguid }}">

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>姓名：</label> <input type="text" class="form-control"
							placeholder="姓名" name="name" th:value="${association.name}"
							disabled="disabled"></input>
					</div>

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Subject ID：</label> <input type="text"
							onkeyup="value=value.replace(/[^-_a-zA-Z0-9]/g,'')"
							class="form-control" placeholder="Subject ID" name="subjectId"
							th:value="${associationUserInfo.subjectId}" disabled="disabled"></input>
					</div>

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>病例編號：</label> <input type="text"
							onkeyup="value=value.replace(/[^-_a-zA-Z0-9]/g,'')"
							class="form-control" placeholder="病歷編號（MRN）" name="mrn"
							th:value="${associationUserInfo.mrn}" disabled="disabled"></input>
					</div>

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>收案醫院：</label> <input type="text" class="form-control"
							placeholder="收案醫院" name="hospital"
							th:value="${associationUserInfo.hospital}"></input>
					</div>

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>收案醫師：</label> <input class="form-control" type="text"
							name="doctor" th:value="${associationUserInfo.doctor}"></input>
					</div>

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>聯絡電話：</label> <input class="form-control"
							onkeyup="value=value.replace(/[^-_0-9]/g,'')" type="text"
							placeholder="0910xxxxxx" name="telephone"
							th:value="${associationUserInfo.telephone}"></input>
					</div>

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>聯絡住址：</label> <input class="form-control" type="text"
							name="address" th:value="${associationUserInfo.address}"></input>
						<input type="hidden" name="_method" value="PUT" />
					</div>

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 association-info">
						<input class="btn btn-inverse btn-block btn-lg" value="編輯聯絡資料"></input>
					</div>

				</form>

				<script type="text/javascript">
					$('.association-info').click(function() {
						swal({
							title : "確定完成編輯？",
							type : "warning",
							showCancelButton : true,
							confirmButtonClass : 'btn-danger',
							confirmButtonText : 'YES',
							closeOnConfirm : true
						}, function() {
							$('#association-infoForm').submit();
						});
					});
				</script>
			</div>
		</div>
	</div>
</body>
</html>