<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>批次比對 GUIDs</title>
<!-- Include Simple Pagination -->
<link rel="stylesheet" href="/simplePagination.css"></link>
<style>
.glyphicon.spinning {
	animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
</style>
<script src="/jquery.simplePagination.js"></script>
<script type="text/javascript">
	$(function() {
		$('#myPleaseWait').modal('hide');
		
		$('#comparisonForm').submit(function() {
			$('#myPleaseWait').modal('show');
		});
		
		var items = $("table tbody tr");
		var numItems = items.length;
		var perPage = 10;
		items.slice(perPage).hide();

		$('#pages').pagination({

			items : numItems,
			itemsOnPage : perPage,
			cssStyle : "light-theme",

			onPageClick : function(pageNumber) {

				var showFrom = perPage * (pageNumber - 1);
				var showTo = showFrom + perPage;

				items.hide() // first hide everything, then show for the new page
				.slice(showFrom, showTo).show();
			}
		});
		var checkFragment = function() {
			// if there's no hash, make sure we go to page 1
			var hash = window.location.hash || "#page-1";

			// we'll use regex to check the hash string
			hash = hash.match(/^#page-(\d+)$/);

			if (hash)
				// the selectPage function is described in the documentation
				// we've captured the page number in a regex group: (\d+)
				$(pages).pagination("selectPage", parseInt(hash[1]));
		};

		// we'll call this function whenever the back/forward is pressed
		$(window).bind("popstate", checkFragment);

		// and we'll also call it to check right now!
		checkFragment();
	});
</script>
</head>
<body>
	<div layout:fragment="content" id="wrap">
		<div id="wrap">

			<h1 class="text-center">批次比對 GUIDs</h1>
			<div id="main" class="container">


				<form role="form" id="comparisonForm"
					class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12"
					enctype="multipart/form-data" method="post"
					th:action="@{/guids/batch/comparison}">

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label
							class="btn btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<input id="my-file-selector" name="file" type="file"
								style="display: none;"
								accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"></input>
							選擇Excel檔案...
						</label>
					</div>

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input
							class="btn btn-inverse btn-block btn-lg col-lg-12 col-md-12 col-sm-12 col-xs-12"
							type="submit" value="批次比對"></input>
					</div>

				</form>

				<!-- Modal Start here-->

<div class="modal fade bs-example-modal-lg" id="myPleaseWait" tabindex="-1"
    role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Please Wait
                 </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info
                    progress-bar-striped active"
                    style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
				<!-- Modal ends Here -->

				<div th:if="${number >= 0}">
					<div class="container" id="pages"></div>
					<table
						class="table table-responsive table-bordered table-striped table-condensed table-hover center">
						<thead>
							<tr>
								<td>#</td>
								<td>
									<h2>
										<strong>
											批次比對 GUIDs 結果：共有
											<span th:text="${number}"></span>
											組相同
										</strong>
									</h2>
								</td>
							</tr>
						</thead>
						<tbody>

							<tr th:each="pairs, iterationStatus : ${result}">
								<td th:text="${iterationStatus.count}"></td>
								<td th:text="${pairs}"></td>
							</tr>

						</tbody>
					</table>
					<div class="container" id="pages"></div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>