<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>更改密碼</title>
</head>
<body>
	<div layout:fragment="content" id="wrap">
		<div id="wrap">
			<h1 class="text-center">更改個人密碼</h1>

			<div id="main" class="container">
				<form class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3" id="changepasswordform"
					method="post"
					th:action="@{${'/users/changepassword/' + #authentication.name }}">
					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input class="form-control" type="password" name="oldpassword"
							placeholder="輸入舊密碼"></input>
					</div>
					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input class="form-control" type="password" name="checkpassword"
							placeholder="確認舊密碼"></input>
					</div>
					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input class="form-control" type="password" name="newpassword"
							placeholder="輸入新密碼"></input>
					</div>

					<input type="hidden" name="_method" value="PUT" />
					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

						<input class="btn btn-inverse btn-block btn-lg changepassword"
							value="更改密碼"></input>

					</div>
				</form>

				<script type="text/javascript">
					$('.changepassword').click(function() {
						swal({
							title : "確定更改密碼？",
							type : "warning",
							showCancelButton : true,
							confirmButtonClass : 'btn-danger',
							confirmButtonText : 'YES',
							closeOnConfirm : true
						}, function() {
							$('#changepasswordform').submit();
						});
					});
				</script>
			</div>
		</div>
	</div>
</body>
</html>