<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>更改密碼</title>
<th:block th:include="head :: bootstrap" />
<style type="text/css">
</style>
<th:block th:include="top :: navigation" class="container-fluid" />
</head>

<body>

	<h1 class="text-center">更改個人密碼</h1>

	<div class="container">
		<form class="col-md-4 col-md-offset-4" id="changepasswordform" method="post"
			th:action="@{${'/users/changepassword/' + #authentication.name }}">
			<div class="form-group col-lg-12">
				<label>輸入舊密碼：</label> <input class="form-control" type="password"
					name="oldpassword"></input>
			</div>
			<div class="form-group col-lg-12">
				<label>確認舊密碼：</label> <input class="form-control" type="password"
					name="checkpassword"></input>
			</div>
			<div class="form-group col-lg-12">
				<label>輸入新密碼：</label> <input class="form-control" type="password"
					name="newpassword"></input>
			</div>

			<input type="hidden" name="_method" value="PUT" />
			<div class="form-group col-lg-12">

				<input class="btn btn-primary btn-block btn-lg changepassword"
					
					 value="更改密碼"></input>

			</div>
		</form>


		<script type="text/javascript">
			$('.changepassword').click(function() {
				swal(
						{
							title : "確定進行密碼更改？",
							type : "warning",
							showCancelButton : true,
							confirmButtonClass : 'btn-danger',
							confirmButtonText : '是的',
							closeOnConfirm : true
						}, function() {
							$('#changepasswordform').submit();
						});
			});
		</script>
	</div>
</body>
</html>