<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>比對 GUIDs</title>
<th:block th:include="head :: bootstrap" />
<script type="text/javascript">
	$(function() {
		var items = $("table tbody tr");
		var numItems = items.length;
		var perPage = 5;
		items.slice(perPage).hide();

		$(pages).pagination({

			items : numItems,
			itemsOnPage : perPage,
			cssStyle : "light-theme",

			onPageClick : function(pageNumber) {

				var showFrom = perPage * (pageNumber - 1);
				var showTo = showFrom + perPage;

				items.hide() // first hide everything, then show for the new page
				.slice(showFrom, showTo).show();
			}
		});
		var checkFragment = function() {
			// if there's no hash, make sure we go to page 1
			var hash = window.location.hash || "#page-1";

			// we'll use regex to check the hash string
			hash = hash.match(/^#page-(\d+)$/);

			if (hash)
				// the selectPage function is described in the documentation
				// we've captured the page number in a regex group: (\d+)
				$(pages).pagination("selectPage", parseInt(hash[1]));
		};

		// we'll call this function whenever the back/forward is pressed
		$(window).bind("popstate", checkFragment);

		// and we'll also call it to check right now!
		checkFragment();
	});
</script>
</head>
<body>
	<th:block th:include="top :: navigation" />
	<div id="wrap">

		<h1 class="text-center">比對 GUIDs</h1>
		<div id="main" class="container">

			<form class="col-md-8 col-md-offset-2" method="post"
				th:action="@{/guids/comparison}">

				<div class="form-group">
					<textarea class="form-control"
						onkeyup="value=value.replace(/[^-_,a-zA-Z0-9]/g,'')" rows="5"
						name="subprimeGuids" placeholder="填入二次編碼字串列（以 , 做區隔）"></textarea>
				</div>
				<div class="form-group">
					<div class="col-md-6 col-md-offset-3">
						<input class="btn btn-inverse btn-block btn-lg" type="submit"
							value="進行比對"></input>
					</div>
				</div>
			</form>

			<div th:if="${number >= 0}">
				<div class="container" id="pages"></div>
				<table
					class="table table-responsive table-bordered table-striped table-condensed table-hover center">
					<thead>
						<tr>
							<td>#</td>
							<td>
								<h2>
									<strong>
										比對 GUIDs 結果：共有
										<span th:text="${number}"></span>
										組相同
									</strong>
								</h2>
							</td>
						</tr>
					</thead>
					<tbody>

						<tr th:each="pairs, iterationStatus : ${result}">
							<td th:text="${iterationStatus.count}"></td>
							<td th:text="${pairs}"></td>
						</tr>

					</tbody>
				</table>
				<div class="container" id="pages"></div>
			</div>
		</div>
	</div>
	<th:block th:include="footer :: footer" class="container-fluid" />

</body>
</html>