<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>比對 GUIDs</title>
<!-- Include Simple Pagination -->
<link rel="stylesheet" href="/simplePagination.css"></link>
<script src="/jquery.simplePagination.js"></script>
<script type="text/javascript">
	$(function() {
		var items = $("table tbody tr");
		var numItems = items.length;
		var perPage = 10;
		items.slice(perPage).hide();

		$('.pages').pagination({

			items : numItems,
			itemsOnPage : perPage,
			cssStyle : "light-theme",

			onPageClick : function(pageNumber) {

				var showFrom = perPage * (pageNumber - 1);
				var showTo = showFrom + perPage;

				items.hide() // first hide everything, then show for the new page
				.slice(showFrom, showTo).show();
			}
		});
		var checkFragment = function() {
			// if there's no hash, make sure we go to page 1
			var hash = window.location.hash || "#page-1";

			// we'll use regex to check the hash string
			hash = hash.match(/^#page-(\d+)$/);

			if (hash)
				// the selectPage function is described in the documentation
				// we've captured the page number in a regex group: (\d+)
				$('.pages').pagination("selectPage", parseInt(hash[1]));
		};

		// we'll call this function whenever the back/forward is pressed
		$(window).bind("popstate", checkFragment);

		// and we'll also call it to check right now!
		checkFragment();
	});
</script>
</head>
<body>
	<div layout:fragment="content" id="wrap">
		<div id="wrap">

			<h1 class="text-center">比對 GUIDs</h1>
			<div id="main" class="container">

				<form class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" method="post"
					th:action="@{/guids/comparison}">

					<div class="form-group">
						<textarea class="form-control"
							onkeyup="value=value.replace(/[^-_,a-zA-Z0-9]/g,'')" rows="5"
							name="subprimeGuids" placeholder="填入二次編碼字串列（以 , 做區隔）"></textarea>
					</div>
					<div class="form-group">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<input class="btn btn-inverse btn-block btn-lg" type="submit"
								value="進行比對"></input>
						</div>
					</div>
				</form>

				<div th:if="${number >= 0}">
					<div class="container pages"></div>
					<table
						class="table table-responsive table-bordered table-striped table-condensed table-hover center">
						<thead>
							<tr>
								<td>#</td>
								<td>
									<h2>
										<strong> 比對 GUIDs 結果：共有 <span th:text="${number}"></span>
											組相同
										</strong>
									</h2>
								</td>
							</tr>
						</thead>
						<tbody>

							<tr th:each="pairs, iterationStatus : ${result}">
								<td th:text="${iterationStatus.count}"></td>
								<td th:text="${pairs}"></td>
							</tr>

						</tbody>
					</table>
					<div class="container pages"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>