<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Users Error</title>
</head>
<body>
	<div layout:fragment="content" id="wrap">
		<div id="wrap">
			<h1 class="text-center" th:text="${errorMessage}"></h1>
			<br></br>
			<div id="main" class="container row col-md-6 col-md-offset-3">
				<a class="btn btn-default col-md-6" th:href="@{/home}" th:text="回首頁"></a>
				<a class="btn btn-inverse col-md-6" th:href="@{${link}}"
					th:text="重新一次"></a>
			</div>
		</div>
	</div>
</body>
</html>