<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Users Error</title>
<th:block th:include="head :: bootstrap" />
<style type="text/css">
</style>
<th:block th:include="top :: navigation" class="container-fluid" />
</head>

<body>
	<div id="wrap">
		<h1 class="text-center" th:text="${errorMessage}"></h1>
		<br></br>
		<div id="wrap" class="container row col-md-6 col-md-offset-3">
			<a class="btn btn-default col-md-6" th:href="@{/home}" th:text="回首頁"></a>
			<a class="btn btn-inverse col-md-6" th:href="@{${link}}"
				th:text="重新一次"></a>
		</div>
	</div>
	<th:block th:include="footer :: footer" class="container-fluid" />
</body>

</html>