<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>輸入 PII</title>
<th:block th:include="head :: bootstrap" />
<style type="text/css">
</style>
<th:block th:include="top :: navigation" class="container-fluid" />
</head>

<body>

	<h1 class="text-center">輸入 PII</h1>

	<div class="container">
		<form class="col-md-4 col-md-offset-4" method="post"
			th:action="@{guids/new}">
			<div class="form-group col-lg-12">

				<label>姓名：</label> <input class="form-control" type="text"
					name="name"></input>

			</div>
			<div class="form-group col-lg-12">

				<label>性別：</label> <select class="form-control" name="gender">
					<option value="M">男</option>
					<option value="F">女</option>
				</select>

			</div>
			<div class="form-group col-lg-12">

				<label>出生年：</label> <input class="form-control" type="text"
					name="birthOfYear"></input>

			</div>
			<div class="form-group col-lg-12">

				<label>出生月：</label> <select class="form-control" name="birthOfMonth">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>

			</div>
			<div class="form-group col-lg-12">

				<label>出生日：</label> <select class="form-control" name="birthOfDay">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>

			</div>
			<div class="form-group col-lg-12">

				<label>身份證字號：</label><input class="form-control" type="text"
					name="sid"></input>

			</div>
			<div class="form-group col-lg-12">

				<input class="btn btn-primary btn-block btn-lg" type="submit"
					value="產生二次編碼"></input>

			</div>
		</form>
	</div>
</body>
</html>