<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>輸入 PII</title>
<th:block th:include="head :: bootstrap" />
<style type="text/css">
</style>

<!-- Include Required Prerequisites -->
<script type="text/javascript"
	src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript"
	src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>


<!-- Include Date Range Picker -->
<script type="text/javascript"
	src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css"
	href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<script type="text/javascript">
	$('input[name="daterange"]').daterangepicker();
</script>
<th:block th:include="top :: navigation" class="container-fluid" />

</head>

<body>

	<h1 class="text-center">輸入 PII</h1>

	<div class="container">
		<form id="createForm" class="col-md-4 col-md-offset-4" method="post"
			th:action="@{/guids/new}">
			<div class="form-group col-lg-12">

				<label>姓名：</label> <input class="form-control" type="text"
					name="name"></input>

			</div>
			<div class="form-group col-lg-12">

				<label>性別：</label> <select data-toggle="select"
					class="form-control select select-primary mrs mbm" name="gender">
					<option value="M">男</option>
					<option value="F">女</option>
				</select>

			</div>

			<div class="form-group col-lg-12 date">
				<label>出生年月日：</label> <input type="text" class="form-control"
					name="birthDay" />


				<script type="text/javascript">
					$(function() {
						$('input[name="birthDay"]').daterangepicker({

							locale : {
								format : 'YYYY/MM/DD'
							},
							startDate : '2015/01/01',
							endDate : '2015/12/31',
							minDate : '1910/01/01',
							maxDate : '2100/12/31',
							autoApply : true,
							singleDatePicker : true,
							showDropdowns : true
						});
					});
				</script>
			</div>
			<div class="form-group col-lg-12">

				<label>身份證字號：</label><input class="form-control" type="text"
					name="sid"></input>

			</div>
			<div class="form-group col-lg-12">

				<input class="btn btn-primary btn-block btn-lg create"
					value="產生二次編碼"></input>

			</div>
		</form>

		<script type="text/javascript">
			$('.create').click(function() {
				swal({
					title : "確定已填寫完畢？",
					type : "info",
					showCancelButton : true,
					confirmButtonClass : 'btn-info',
					confirmButtonText : '是的',
					closeOnConfirm : true
				}, function() {
					$('#createForm').submit();
				});
			});
		</script>
		<script>
			$(document)
					.ready(
							function() {
								$('#createForm')
										.formValidation(
												{
													framework : 'bootstrap',
													excluded : ':disabled',
													icon : {
														valid : 'glyphicon glyphicon-ok',
														invalid : 'glyphicon glyphicon-remove',
														validating : 'glyphicon glyphicon-refresh'
													},
													fields : {
														name : {
															validators : {
																notEmpty : {
																	message : 'The name is required'
																}
															}
														},
														birthDay : {
															validators : {
																notEmpty : {
																	message : 'The birthDay is required'
																}
															}
														},
														sid : {
															row : '.col-xs-6',
															validators : {
																notEmpty : {
																	message : 'The sid is required'
																}
															}
														}
													}
												})
										// Using Flat UI's select component
										.find(
												'[name="gender"]')
										.select2(
												{
													dropdownCssClass : 'select-inverse-dropdown'
							});
		</script>

	</div>

</body>
</html>