<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
<th:block th:include="head :: bootstrap" />
<style type="text/css">
</style>
</head>
<th:block th:include="top :: navigation" />
<body>

	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<form th:action="@{/logout}" method="post">
		<input class="btn btn-primary" type="submit" value="Sign Out" />
	</form>
	<div>
		<a th:href="@{/home}">回到首頁</a>
	</div>

</body>
</html>