<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Welcome!</title>

<th:block th:include="head :: bootstrap" />
<style type="text/css">
</style>
<th:block th:include="top :: navigation" class="container-fluid" />
</head>

<body>
	
	 <h1 class="text-center" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
  <form th:action="@{/logout}" method="post">
    <input class="btn btn-primary" type="submit" value="Sign Out" />
  </form>

</body>
</html>