<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>單位名稱與 prefix 資料</title>
</head>
<body>
	<div layout:fragment="content" id="wrap">
		<div id="wrap">
			<h1 class="text-center">單位名稱與 Prefix 資料</h1>
			<div id="main" class="container">

				<form id="institutePrefix-infoForm"
					class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12"
					method="post"
					th:action="@{${'/institutes/' + institutePrefixInfo.institute }}">


					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>單位名稱：</label> <input type="text" class="form-control"
							placeholder="單位名稱" name="newInstitute"
							th:value="${institutePrefixInfo.institute}"></input>
					</div>

					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Prefix 值：</label> <input
							onkeyup="value=value.replace(/[^-_a-zA-Z0-9]/g,'')" type="text"
							class="form-control" placeholder="Prefix 值" name="prefix"
							th:value="${institutePrefixInfo.prefix}"></input>
					</div>

					<div
						class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 institute-prefix-info">
						<input type="hidden" name="_method" value="PUT" /> <input
							class="btn btn-inverse btn-block btn-lg" value="編輯聯絡資料"></input>
					</div>

				</form>

				<script type="text/javascript">
					$('.institute-prefix-info').click(function() {
						swal({
							title : "確定完成編輯？",
							type : "info",
							showCancelButton : true,
							confirmButtonClass : 'btn-info',
							confirmButtonText : 'YES',
							closeOnConfirm : true
						}, function() {
							$('#institutePrefix-infoForm').submit();
						});
					});
				</script>
			</div>
		</div>
	</div>
</body>
</html>