<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>檢視使用者</title>
<!-- Include Simple Pagination -->
<link rel="stylesheet" href="/simplePagination.css"></link>
<script src="/jquery.simplePagination.js"></script>
<script type="text/javascript">
	$(function() {
		var items = $("table tbody tr");
		var numItems = items.length;
		var perPage = 10;
		items.slice(perPage).hide();

		$('.pages').pagination({

			items : numItems,
			itemsOnPage : perPage,
			cssStyle : "light-theme",

			onPageClick : function(pageNumber) {

				var showFrom = perPage * (pageNumber - 1);
				var showTo = showFrom + perPage;

				items.hide() // first hide everything, then show for the new page
				.slice(showFrom, showTo).show();
			}
		});
		var checkFragment = function() {
			// if there's no hash, make sure we go to page 1
			var hash = window.location.hash || "#page-1";

			// we'll use regex to check the hash string
			hash = hash.match(/^#page-(\d+)$/);

			if (hash)
				// the selectPage function is described in the documentation
				// we've captured the page number in a regex group: (\d+)
				$('.pages').pagination("selectPage", parseInt(hash[1]));
		};

		// we'll call this function whenever the back/forward is pressed
		$(window).bind("popstate", checkFragment);

		// and we'll also call it to check right now!
		checkFragment();
	});
</script>
</head>
<body>
	<div layout:fragment="content" id="wrap">

		<h1 class="text-center">檢視使用者</h1>



		<div class="container pages"></div>

		<table
			class="table table-responsive table-bordered table-striped table-condensed table-hover">
			<thead>
				<th:tr>
					<td>#</td>
					<td><strong>使用者權限</strong></td>
					<td><strong>使用者帳號</strong></td>
					<td><strong>Prefix 值</strong></td>
					<td><strong>服務單位</strong></td>
					<td><strong>工作職銜</strong></td>
					<td><strong>電子郵件 E-Mail</strong></td>
					<td><strong>聯絡電話</strong></td>
					<td><strong>聯絡地址</strong></td>
				</th:tr>
			</thead>
			<tbody>

				<tr th:each="user, iterationStatus: ${users}">
					<td th:text="${iterationStatus.count}"></td>
					<td><p th:if="${user.role.toString().equals('ROLE_ADMIN')}"
							th:text="系統管理者"></p>
						<p th:if="${user.role.toString().equals('ROLE_USER')}"
							th:text="一般使用者"></p></td>
					<td th:text="${user.username}"></td>
					<td th:text="${prefix}"></td>
					<td th:text="${institute}"></td>
					<td th:text="${user.jobTitle}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.telephone}"></td>
					<td th:text="${user.address}"></td>
				</tr>
			</tbody>
		</table>

		<div class="container pages"></div>
		<div id="main" class="container">
			<div id="main" class="container row col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a class="btn btn-default col-lg-6 col-md-6 col-sm-6 col-xs-12" th:href="@{/home}" th:text="回首頁"></a>
				<a class="btn btn-inverse col-lg-6 col-md-6 col-sm-6 col-xs-12" th:href="@{/institutes}"
					th:text="回上一頁"></a>
			</div>
		</div>
	</div>
</body>
</html>