<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Users Error</title>
</head>
<body>
	<h1>請確實填寫資料，勿留空值！！</h1>

	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a th:href="@{/register}">回新增使用者介面</a>
	</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a th:href="@{/create}">回刪除使用者介面</a>
	</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/comparison}">回二次編碼比對介面</a>
  </div>
	<div>
		<a th:href="@{/create}">回產生 GUID 介面</a>
	</div>
	<div>
		<a th:href="@{/home}">回到首頁</a>
	</div>

</body>
</html>