<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8"></meta>
<title>Success Page</title>
</head>
<body>
	<div layout:fragment="content" id="wrap">
		<h1 class="text-center" th:text="${successMessage}"></h1>

		<div id="main" class="container row container row">
			<div
				class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
				<a class="btn btn-default col-lg-6 col-md-6 col-sm-6 col-xs-12"
					th:href="@{/home}" th:text="回首頁"></a> <a
					class="btn btn-inverse col-lg-6 col-md-6 col-sm-6 col-xs-12"
					th:href="@{${link}}" th:text="繼續"></a>
			</div>
		</div>
	</div>
</body>
</html>