<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Success Page</title>
<th:block th:include="head :: bootstrap" />
<style type="text/css">
</style>
<th:block th:include="top :: navigation" class="container-fluid" />
</head>

<body>
	<div id="wrap">
		<h1 class="text-center" th:text="${successMessage}"></h1>
		<br></br>
		<div id="wrap" class="container row col-md-6 col-md-offset-3">
			<a class="btn btn-default col-md-6" th:href="@{/home}" th:text="回首頁"></a>
			<a class="btn btn-inverse col-md-6" th:href="@{${link}}" th:text="繼續"></a>
		</div>
	</div>
	<th:block th:include="footer :: footer" class="container-fluid" />
</body>
</html>