<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block th:fragment="navigation" class="container-fluid">

	<nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top"
		role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#navbar-collapse-01">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" th:href="@{/home}">GUID 網頁版
				(v.0.0.1-SNAPSHOT)</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-01">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">GUID 管理<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/guids}">產生 GUID<span class="badge"></span></a></li>
						<li><a th:href="@{/guids/batch}">批次產生 GUID<span class="badge"></span></a></li>
						<li><a sec:authorize="hasRole('ROLE_ADMIN')"
							th:href="@{/comparison}">二次編碼比對</a></li>
							<li><a sec:authorize="hasRole('ROLE_ADMIN')"
              th:href="@{/batch/comparison}">批次二次編碼比對</a></li>
					</ul></li>
				<li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')"><a
					href="#" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">使用者管理<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/users}">使用者清單<span class="badge"></span></a></li>
						<li><a th:href="@{/register}">新增使用者</a></li>
					</ul></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/association/login}">關聯比對表</a></li>
				<li><a th:href="@{https://www.cims.tw/}">關於我們</a></li>
				<li><a th:href="@{#}">使用教學</a></li>
			</ul>
			<div class="collapse navbar-collapse navbar-right"
				id="navbar-collapse-02">
				<ul class="nav navbar-nav">
					<li class="dropdown "><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"><span class="text-center"
							th:inline="text"> <i class="glyphicon glyphicon-user"></i>
								[[${#httpServletRequest.remoteUser}]]
						</span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:inline="text"
								th:href="@{${'/users/' + #authentication.name }}">個人資料編輯</a></li>
							<li><a th:inline="text" th:href="@{/users/changepassword}">修改登入密碼</a></li>
							<li role="separator" class="divider"></li>
							<li><a th:href="@{/logout}">登出</a></li>
						</ul></li>
				</ul>
			</div>

		</div>
		<!-- /.navbar-collapse -->
	</nav>
	<!-- /navbar -->

</th:block>
</html>