<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Paper Trail</title>
<!-- Include Simple Pagination -->
<link rel="stylesheet" href="/simplePagination.css"></link>
<script src="/jquery.simplePagination.js"></script>
<script type="text/javascript">
	$(function() {
		var items = $("table tbody tr");
		var numItems = items.length;
		var perPage = 50;
		items.slice(perPage).hide();

		$(pages).pagination({

			items : numItems,
			itemsOnPage : perPage,
			cssStyle : "light-theme",

			onPageClick : function(pageNumber) {

				var showFrom = perPage * (pageNumber - 1);
				var showTo = showFrom + perPage;

				items.hide() // first hide everything, then show for the new page
				.slice(showFrom, showTo).show();
			}
		});

		var checkFragment = function() {
			// if there's no hash, make sure we go to page 1
			var hash = window.location.hash || "#page-1";

			// we'll use regex to check the hash string
			hash = hash.match(/^#page-(\d+)$/);

			if (hash)
				// the selectPage function is described in the documentation
				// we've captured the page number in a regex group: (\d+)
				$(pages).pagination("selectPage", parseInt(hash[1]));
		};

		// we'll call this function whenever the back/forward is pressed
		$(window).bind("popstate", checkFragment);

		// and we'll also call it to check right now!
		checkFragment();

		$('input[name="daterange"]').daterangepicker();
		$('[data-toggle="select"]').select2();
	});
</script>
</head>
<body>
	<div layout:fragment="content" id="wrap">
		<div id="wrap">
			<h1 class="text-center">操作記錄追蹤</h1>

			<div id="main">
				<form
					class="form-inline form-inline col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2"
					method="get" th:action="@{/trail/lookup}" role="form">

					<div class="row">

						<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
							<input type="text" class="form-control" name="createdAt"
								placeholder="日期" />


							<script type="text/javascript">
								$(function() {
									$('input[name="createdAt"]')
											.daterangepicker({

												locale : {
													format : 'YYYY/MM/DD'
												},
												minDate : '1910/01/01',
												maxDate : '2100/12/31',
												autoApply : true,
												singleDatePicker : true,
												showDropdowns : true
											});
								});
							</script>
						</div>

						<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">

							<label class="sr-only">User ID：</label> <select
								data-toggle="select"
								class="form-control select select-primary mrs mbm" name="userId">
								<option value="">User ID</option>
								<th:block th:each="userId : ${userIds}">
									<option th:value="${userId}" th:text="${userId}"></option>
								</th:block>
							</select>
						</div>

						<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<input class="btn btn-inverse btn-block btn-md" type="submit"
								value="搜尋操作記錄"></input>
						</div>

					</div>
				</form>
				<div class="container" id="pages"></div>

				<div id="wrap">
					<table
						class="table table-responsive table-bordered table-striped table-condensed table-hover">
						<thead>
							<th:tr>
								<td><strong>#</strong></td>
								<td><strong>User ID</strong></td>
								<td><strong>Remote Address</strong></td>
								<td><strong>HTTP Method</strong></td>
								<td><strong>Request URL</strong></td>
								<td><strong>HTTP Status</strong></td>
								<td><strong>Created At</strong></td>
								<td><strong>Action</strong></td>
							</th:tr>
						</thead>
						<tbody>

							<tr th:each="paperTrail : ${paperTrails}">
								<td th:text="${paperTrail.id}"></td>
								<td th:text="${paperTrail.userId}"></td>
								<td th:text="${paperTrail.remoteAddr}"></td>
								<td th:text="${paperTrail.httpMethod}"></td>
								<td th:text="${paperTrail.requestURI}"></td>
								<td th:text="${paperTrail.httpStatus}"></td>
								<td th:text="${paperTrail.createdAt}"></td>
								<td><font color="blue"
									th:if="${paperTrail.httpMethod.toString().equals('POST') and paperTrail.requestURI == '/guids' and paperTrail.httpStatus == 200}"
									th:text="單筆產生GUID"></font> <font color="blue"
									th:if="${paperTrail.httpMethod.toString().equals('POST') and paperTrail.requestURI == '/guids/batch' and paperTrail.httpStatus == 200}"
									th:text="批次產生GUID"></font> <font color="blue"
									th:if="${paperTrail.httpMethod.toString().equals('POST') and paperTrail.requestURI == '/guid/create' and paperTrail.httpStatus == 200}"
									th:text="[Client程式]產生GUID"></font> <font color="blue"
									th:if="${paperTrail.httpMethod.toString().equals('POST') and paperTrail.requestURI == '/guids/comparison' and paperTrail.httpStatus == 200}"
									th:text="比對GUIDs"></font> <font color="blue"
									th:if="${paperTrail.httpMethod.toString().equals('POST') and paperTrail.requestURI == '/guids/batch/comparison' and paperTrail.httpStatus == 200}"
									th:text="批次比對GUIDs"></font> <font color="blue"
									th:if="${paperTrail.httpMethod.toString().equals('POST') and paperTrail.requestURI == '/users/new' and paperTrail.httpStatus == 200}"
									th:text="新增使用者"></font> <font color="blue"
									th:if="${paperTrail.httpMethod.toString().equals('POST') and paperTrail.requestURI == '/institutes' and paperTrail.httpStatus == 200}"
									th:text="新增單位名稱"></font> <font color="blue"
									th:if="${paperTrail.httpMethod.toString().equals('POST') and paperTrail.requestURI == '/association' and paperTrail.httpStatus == 200}"
									th:text="關聯比對查詢"></font> <font color="red"
									th:if="${paperTrail.httpMethod.toString().equals('DELETE') and paperTrail.requestURI.startsWith('/users/') and paperTrail.httpStatus == 200}"
									th:text="刪除使用者"></font> <font color="green"
									th:if="${paperTrail.httpMethod.toString().equals('PUT') and paperTrail.requestURI.startsWith('/association/') and paperTrail.httpStatus == 200}"
									th:text="關聯比對資料編輯"></font> <font color="green"
									th:if="${paperTrail.httpMethod.toString().equals('PUT') and paperTrail.requestURI.startsWith('/institutes/') and paperTrail.httpStatus == 200}"
									th:text="單位名稱資料編輯"></font> <font color="green"
									th:if="${paperTrail.httpMethod.toString().equals('PUT') and paperTrail.requestURI.startsWith('/users/') and paperTrail.httpStatus == 200}"
									th:text="編輯個人資料"></font> <font color="blue"
									th:if="${paperTrail.httpMethod.toString().equals('POST') and paperTrail.requestURI.startsWith('/users/changepassword/') and paperTrail.httpStatus == 200}"
									th:text="編輯個人密碼"></font> <font color="red"
									th:if="${paperTrail.httpMethod.toString().equals('POST') and paperTrail.requestURI.startsWith('/error') and paperTrail.httpStatus == 500}"
									th:text="系統服務錯誤"></font></td>
							</tr>
						</tbody>
					</table>

					<div class="container" id="pages"></div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>