<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>使用者清單</title>
<th:block th:include="head :: bootstrap" />
<link rel="stylesheet" href="/simplePagination.css"></link>
<script src="/jquery.simplePagination.js"></script>
<style type="text/css">
</style>
<th:block th:include="top :: navigation" class="container-fluid" />
</head>
<script type="text/javascript">
	$(function() {
		$(pages).pagination({
			items : 100,
			itemsOnPage : 10,
			cssStyle : 'light-theme',
			onPageClick : function(pageNumber, event) {
				var currentUrl = $(location).attr('href');
				var parsedUrl = $.url(currentUrl);
				var params = parsedUrl.param();
				params["page"] = pageNumber;
				var newUrl = "?" + $.param(params);

				window.location.href = newUrl;
			}
		});
	});
</script>
<body>
	<h1 class="text-center">使用者</h1>

	<div class="container">
		<form class="col-md-4 col-md-offset-4" method="get"
			th:action="@{/users/lookup}">
			<div class="form-group form-line">
				<label>使用者權限：</label> <select class="form-control" name="role">
					<option value="">---------</option>
					<option value="ROLE_ADMIN">系統管理者</option>
					<option value="ROLE_USER">一般使用者</option>
				</select> <label>使用者帳號：</label><input class="form-control" type="text"
					name="username"></input>

			</div>
			<div class="form-group">
				<input class="btn btn-primary btn-block btn-lg" type="submit"
					value="搜尋使用者"></input>
			</div>
		</form>
	</div>

	<div>
		<table class="table table-responsive table-condensed table-hover">
			<tr>
				<td>使用者權限</td>
				<td>使用者帳號</td>
				<td>Prefix 值</td>
				<td>服務單位</td>
				<td>工作職銜</td>
				<td>電子郵件 E-Mail</td>
			</tr>
			<th:block th:each="accuntusers : ${accPage}">
				<tr>
					<td th:text="${accuntusers.role}"></td>
					<td th:text="${accuntusers.username}"></td>
					<td th:text="${accuntusers.prefix}"></td>
					<td th:text="${accuntusers.institute}"></td>
					<td th:text="${accuntusers.jobTitle}"></td>
					<td th:text="${accuntusers.email}"></td>

				</tr>
			</th:block>
		</table>
	</div>

	<div class="text-justify" id="pages"></div>

</body>
</html>