<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>使用者清單</title>
<th:block th:include="head :: bootstrap" />
<style type="text/css">
</style>
<th:block th:include="top :: navigation" class="container-fluid" />
</head>

<body>

	<h1 class="text-center">使用者</h1>

	<div class="container">
		<form class="col-md-4 col-md-offset-4" method="get"
			th:action="@{/users/lookup}">
			<div class="form-group form-line">
				<label>使用者權限：</label> <select class="form-control" name="role">
					<option value="">---------</option>
					<option value="ROLE_ADMIN">系統管理者</option>
					<option value="ROLE_USER">一般使用者</option>
				</select> <label>使用者帳號：</label><input class="form-control" type="text"
					name="username"></input>

			</div>
			<div class="form-group">

				<input class="btn btn-primary btn-block btn-lg" type="submit"
					value="搜尋使用者"></input>

			</div>
		</form>
	</div>


	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-xs-2 col-sm-2 col-md-2">
				<span>使用者權限</span>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2">
				<span>使用者帳號</span>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2">
				<span>Prefix 值</span>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2">
				<span>服務單位</span>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2">
				<span>工作職銜</span>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2">
				<span>電子郵件 E-mail</span>
			</div>
		</div>
	</div>
	<th:block th:each="accuntusers : ${accPage}">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-2 col-sm-2 col-md-2">
					<span th:text="${accuntusers.role}"></span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<span th:text="${accuntusers.username}"></span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<span th:text="${accuntusers.prefix}"></span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<span th:text="${accuntusers.institute}"></span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<span th:text="${accuntusers.jobTitle}"></span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<span th:text="${accuntusers.email}"></span>
				</div>
			</div>
		</div>
	</th:block>




	
<div class="table-pagination">
    <ul class="pagination">
        <li th:class="${number == 0} ? 'disabled' : ''">
            <a th:if="!${isFirst}" th:href="@{${'/users'}}">Previous</a>
            <a th:if="${isFirst}" href="javascript:void(0);">Previous</a>
        </li>

        <li th:each="pageNo : ${#numbers.sequence(0, totalPages - 1)}" th:class="${number == pageNo}? 'active' : ''">
            <a th:if="${number == pageNo}" href="javascript:void(0);">
                <span th:text="${pageNo + 1}"></span>
            </a>
            <a th:if="${not (number == pageNo)}" th:href="@{${'/users'}}">
                <span th:text="${pageNo + 1}"></span>
            </a>

        </li>
        <li th:class="${number + 1 ge totalPages} ? 'disabled' : ''">
            <a th:if="${!isLast}" th:href="@{${'/users'}}">Next</a>
            <a th:if="${isLast}" href="javascript:void(0);">Next</a>
        </li>
    </ul>
</div>
	
</body>
</html>